*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

html, 
body {
    height: 100vh;
    background:rgb(93, 168, 238);
}

/* Header */

header {
    position: relative;
    border-bottom: 0.5rem solid white;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(219, 218, 218, 0.5);
    color: #f1f1f1;
    width: 40%;
    border-radius: 0.5rem;
    padding: 20px;
    border: 0.2rem solid white;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

#myVideo {
    height: auto;
    width: 100%; 
    display: block;
  }

button {
    background: none;
    border: none;
    width: 150px;
    margin-top: 20px;
    padding: 0.8rem;
}

button a:hover {
    background: rgb(93, 168, 238);
    color: white;
}

button a {
    white-space: nowrap;
    background: white;
    font-weight: bold;
    color: rgb(93, 168, 238);
    text-decoration: none;
    border-radius: 0.4rem;
    border: 0.3rem solid white;
    padding: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* text-shadow: 2px 3px 5px rgba(0,0,0,0.5); */
}

/* Main */

main h1 {
    color: white;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

h1,
article {
    margin-top: 25px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background: white;
    width: 75vw;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 0.3rem solid rgba(218, 218, 218, 0.726);;
}

p {
    font-size: 1.15rem;
    text-align: left;
    line-height: 1.7rem;
    margin: 1rem 0;
}

img {
    width: 70vw;
}

main a {
    color: rgb(78, 158, 223);
}

main a:hover {
    color: blue;
}

@media only screen and (max-width: 484px) {
    header h1 {
        font-size: 1.6rem;
    }
    header div {
        flex-direction: row;
        width: 85%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  }
